@font-face {
    font-family: 'Rufina';
    src: url(/fonts/Rufina/Rufina-Regular.ttf);
}
@font-face {
    font-family:'Average';
    src: url(/fonts/Average_Sans/AverageSans-Regular.ttf);
}
h1 h2 h3 {
font-family: Rufina;

}
p {
font-family: Average;
}




body {
    color: #ff69b4;
    background-color: #470c22;
   
}
